.embed {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.embed:before {
  content: '';
  display: block;
  padding-top: calc(var(--embed-ratio, (9 / 16)) * 100%);
}
